#timer {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 50px;
  margin-bottom: 8px;
  margin-top: 20px;
  color: #925721;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1;
}
/*position: absolute; para ponerlo donde quieras independientemente de los demas contenedores
 z-index: 1; hace que se coloque encima de otros elementos
*/

#todo {
  height: 100%;
  width: 100%;
  display: flex;
  /*permite que los demas elementos dentro de el se puedan ajustar*/
  flex-wrap: wrap;
  /*evita que se superpongan elemnetos*/
}

.card {
  height: 180px;
  margin-left: 80px;
  margin-right: 50px;
  margin-top: 20px;
  width: 180px;
}
img {
  object-fit: cover;
  /*esto hace que la imagen se ajuste proporcionalmente y se siga viendo bn*/
  height: 100%;
  width: 100%;
}

body {
  background-color: black;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
